.navbar {
    background: linear-gradient(to right, #E56717, #F87217, #FF8400);
    height: 60px;
    font-family: Arial, sans-serif;
  }
  
  .navbar-nav .nav-link {
    color: #fefcd2; /* Default color */
    font-size: 16px; /* Default font size */
    font-weight: bold;
    transition: color 0.3s; /* Smooth color transition */
  }
  
  .navbar-nav .nav-link:hover {
    color: #fbf585; /* Change color on hover */
  }

.cardlogo-wrapper {
    display: inline-block;
    transition: transform 0.2s ease-out;
  }
  
  .cardlogo-wrapper:hover .card {
    transform: scale(1.2); /* Adjust the scale factor as needed */
  }
  
  .cardlogo {
    transition: transform 0.2s ease-out;
  }
  
  .cardlogo:hover {
    transform: scale(1.2); /* Adjust the scale factor as needed */
  }
  
  